* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter-bold";
  src: url('./assets/fonts/static/Inter-Bold.ttf');
}

@font-face {
  font-family: "Inter-regular";
  src: url('./assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url('./assets/fonts/static/Inter-ExtraBold.ttf');
}

body {
  margin: 20px 15px;
  font-family: "Inter-regular", sans-serif;
}

.big-container {
  max-width: 375px;
  margin-bottom: 50px;
}

.logo {
  width: 40px;
  height: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 345px;
}

.menuItem {
  display: block;
  margin: 1.5rem;
  font-size: 1rem;
  color: black;
  font-family: "Inter-bold", sans-serif;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  z-index: 100;
  top: 1rem;
  right: 0.5rem;
  cursor: pointer;
}

.dark {
  background: rgba(28, 4, 4, 0.401);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.2s;
  transform: translateY(0);
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  color: black;
  list-style: none;
  width: 290px;
  padding-top: 6rem;
}

.showMenu {
  transform: translateY(0);
}

.menuIcon, .closeIcon {
  position: relative;
  margin-top: -5px;
  height: 35px;
}

.closeIcon {
  display: none;
}

.welcome-img {
  width: 345px;
}

.title {
  font-size: 40px;
  margin: 20px 45px 15px 0;
  font-family: "Inter-ExtraBold", sans-serif;
}

.description {
  font-size: 15px;
  line-height: 1.6em;
  color: hsl(236, 13%, 42%);
}

.btn {
  padding: 15px 30px;
  text-transform: uppercase;
  font-family: "Inter-bold", sans-serif;
  border: 0;
  letter-spacing: .3rem;
  border-radius: 0%;
  font-size: 12px;
  margin: 15px 40px 15px 0;
  background-color: hsl(5, 85%, 63%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.right-container {
  margin-top: 30px;
  padding: 25px;
  background-color: hsl(240, 100%, 5%);
  color: white;
  margin-bottom: 60px;
}

.right-title {
  color: hsl(35, 77%, 62%);
  font-size: 25px;
  margin-bottom: 20px;
}

.right-details-title {
  font-size: 19px;
  margin: 10px 0;
}

.right-details {
  color: hsl(233, 8%, 79%);
  font-size: 14px;
  margin-right: 10px;
  line-height: 1.5rem;
}

.separator {
  border: 0.3px rgba(128, 128, 128, 0.704) solid;
  margin: 30px 0;
}

.cont {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.bottom-img {
  width: 100px;
  margin-right: 25px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}

.numbers {
  font-size: 40px;
  color: hsl(233, 8%, 79%);
}

.bottom-title {
  font-size: 18px;
  color: hsl(240, 100%, 5%);
  font-family: "Inter-ExtraBold", sans-serif;
  margin: 5px 0;
}

.bottom-desc {
  color: hsl(236, 13%, 42%);
  line-height: 1.8rem;
}